<%- include('../../partials/headers'); -%>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-PMS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!DOCTYPE html>
            <html>

            <head>

                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" type="text/css" href="../../stylesheets/sidebar.css">

            </head>

            <body>

            </body>

            </html>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="margin-top: 70px;">
                <h3 style="text-align: center;">Activity</h3>
                <h4 style="text-align: center;">

                    <small class="text-muted">#3 TOKOPEDIA</small>
                </h4>
                <hr>

                <div class="row">
                    <div class="col-10 offset-1">

                        <div class="card-body">
                            <hr>
                            <p>2020-08-11</p>
                            <p> * Invalid date fitur cari #17 (Feature) - [inProgress] Author : novri zaldi</p>
                            <br>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>
</body>

</html>